*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f4f4;
    height: 400vh;
}

:root{
    --preto: #0000;
    --cinza: #959595;
    --cards: rgb(247, 246, 246);
}

/*header/cabeçalho*/
.cabecalho{
    margin-top: 1rem;
    justify-content: space-evenly;
    display: flex;
}

a:link {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black;
    background-color: transparent;
}


/*título principal*/
.space{
    font-family:sans-serif;
    display: flex;
    padding-top: 7rem;
    justify-content: space-around;
}

.text01{
    font-family:sans-serif;
    font-size: 35px;
    color: var(--cinza)
}


/*seções de ajuda*/
.perfilHelp{
    display: flex;
}

.pergunta{
    margin-left: 1rem;
}

.orientacao1{
    margin-top: 1rem;
    margin-left: -12.5rem;
}

.orientacao2{
    margin-top: 1rem;
    margin-left: -9rem;
}




/*tipos de produtos*/
.aparelhos{
    display: flex;
    justify-content: space-evenly;
    margin-top: 6rem;
    text-align: center;
    
}

.centralizarImg{
    display: flex;
    justify-content: center;
}





/*cards dos produtos/novidades*/
.cards{
    display: flex;
    margin-left: 8.5rem;
    margin-inline: 7rem;
    margin-bottom: 10rem;
}

.scroll-horizontal {
    height: 45rem;
    overflow-x: auto; /* Adiciona rolagem horizontal */
    white-space: nowrap; /* Evita quebra de linha */
}

/*box-macBook*/
.card-mackBookAir{
    margin-top: 1.5rem;
    margin-inline: .5rem;
    border: none;
    border-radius: 1rem;
    color: #000;
    background-image: linear-gradient(#d7ebf6, #fff);
    box-shadow: 3px 1px 10px var(--cinza);
    width: 30rem;
    height: 36rem;
    cursor: pointer;
}

.title-card-macBook{
    display: block;
    margin-top: -30rem;
    margin-right: 14.5rem;
    font-size: 30px;
}

.valor-macBook{
    display: block;
    margin-right: 16rem;
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 100;
}

/*box-iphonePro*/
.card-iphonePro{
    margin-top: 1.5rem;
    margin-inline: .5rem;
    border: none;
    border-radius: 1rem;
    color: #f6f4f4;
    background-image:radial-gradient( #25120c,#120d08);
    box-shadow: 5px 5px 20px var(--cinza);
    width: 30rem;
    height: 36rem;
    cursor: pointer;
}

.imagem-iphonePro{
    margin-right: .5rem;
    margin-top: -7.3rem;
    margin-bottom: 0;
}

.title-card-iphonePro{
    display: block;
    margin-top: -30rem;
    margin-right: 13rem;
    font-size: 30px;
}

/*ipadAir*/
.card-ipadAir{
    margin-top: 1.5rem;
    margin-inline: .5rem;
    border: none;
    border-radius: 1rem;
    color: #000;
    background-color: #fff;
    box-shadow: 5px 5px 20px var(--cinza);
    width: 30rem;
    height: 36rem;
    cursor: pointer;
}

.imagem-ipadPro{
    margin-right: .5rem;
    margin-top: -10rem;
    margin-bottom: 7rem;
}

.title-card-ipadPro{
    display: block;
    margin-top: -38rem;
    margin-right: 18rem;
    font-size: 30px;
}

.subtitle-card-ipadPro{
    display: block;
    margin-right: 21rem;
    margin-top: 1rem;
    font-size: 17px;
}

/*appleWatchColorido*/

.card-appleWatchColorido{
    margin-top: 1.5rem;
    margin-inline: .5rem;
    border: none;
    border-radius: 1rem;
    color: #000;
    background-color: #fff;
    box-shadow: 5px 5px 20px var(--cinza);
    width: 30rem;
    height: 36rem;
    cursor: pointer;
}

.marginTop{
    display: block;
    margin-top: -1rem;
}

.imagem-appleWatchColorido{
    margin-right: .5rem;
    margin-top: -6rem;
    margin-bottom: -8rem;
    position: static;
}

.title-card-appleWatchColorido{
    display: flex;
    text-align: left;
    position: static;
    margin-top: -32rem;
    padding-top: 8.5rem;
    margin-left: 2rem;
    font-size: 30px;
}

.subtitle-appleWatchColorido{
    display: block;
    margin-right: 17rem;
    margin-top: 1rem;
    font-size: 17px;
}

.valor-appleWatchColorido{
    display: block;
    margin-right: 16rem;
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 100;
}




.card01{
    margin-top: 1.5rem;
    margin-inline: .5rem;
    border: none;
    border-radius: 1rem;
    color: #f6f4f4;
    background-color: #000;
    box-shadow: 5px 5px 20px var(--cinza);
    width: 30rem;
    height: 36rem;
    cursor: pointer;
}

.imagem{
    margin-right: .5rem;
    margin-top: -5rem;
}




.title-card{
    display: block;
    margin-top: -30rem;
    margin-right: 19rem;
    font-size: 30px;
}

.subtitle-card{
    display: block;
    margin-right: 16rem;
    margin-top: 1rem;
    font-size: 17px;
}

.valor{
    display: block;
    margin-right: 15rem;
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 100;
}




/*título dos cards de orientação*/
.novidades{
    margin-top: 9rem;
    display: flex;
    margin-left: 8.5rem;
    font-size: 30px;
    font-weight: 700;
    font-family:sans-serif;
}

.text-novidades{
    color: var(--cinza);
}

/*cards de orientação*/
.cards1{
    display: flex;
    margin-left: 8.5rem;
    margin-inline: 7rem;
}

.card02{
    margin-top: 4rem;
    margin-inline: 1.5rem;
    border: none;
    border-radius: 1rem;
    color: #f6f4f4;
    background-color: #000;
    box-shadow: 5px 5px 20px var(--cinza);
    width: 38rem;
    height: 42rem;
    cursor: pointer;
}

.title-card-especialista{
    margin-bottom: 1.5rem;
    margin-top: -4rem;
    margin-left: 3rem;
    display: flex;
    justify-content: start;
}

.title-card2{
    margin-left: 3rem;
    display: flex;
    justify-content: start;
}

.imagem2{
    margin-top: 4rem;
}


/*Título dos cards de benefícios*/

.titulo-benefícios{
    margin-top: 9rem;
    display: flex;
    margin-left: 8.5rem;
    font-size: 30px;
    font-weight: 700;
    font-family:sans-serif;
}

.text-beneficios{
    color: var(--cinza);
}

.cards-beneficios{
    display: flex;
    margin-left: 8.5rem;
    margin-inline: 7rem;
    
}

.card03{
    margin-top: 2rem;
    margin-inline: .5rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--cards);
    box-shadow: 5px 5px 20px var(--cinza);
    width: 22rem;
    height: 16rem;
    cursor: pointer;
}

.icones{
    display: flex;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    margin-top: -6rem;
}

.title-card-beneficio{
    margin-left: 2rem;
    display: flex;
    justify-content: start;
}

/*cards acessórios*/

.cards-acessorios{
    display: flex;
    margin-left: 8.5rem;
    margin-inline: 7rem;
}

.card-acessorio-maior{
    margin-top: 2rem;
    margin-inline: .5rem;
    border: none;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 5px 5px 20px var(--cinza);
    width: 30rem;
    height: 36rem;
    cursor: pointer;
}

.imagem-acessórios-maior{
    margin-top: 2rem;
}

.title-card-maior{
    margin-left: 3rem;
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
}
.subtitle-card-maior{
    margin-left: 3rem;
    display: flex;
    justify-content: start;
    font-weight: 100;
}

.card-acessorio{
    margin-top: 4rem;
    margin-inline: 1.5rem;
    border: none;
    border-radius: 1rem;
    color: #f6f4f4;
    background-color: #000;
    box-shadow: 5px 5px 20px var(--cinza);
    width: 38rem;
    height: 42rem;
    cursor: pointer;
}

.card-acessorio-maior{
    margin-top: 1.5rem;
    margin-inline: 1.5rem;
    border: none;
    border-radius: 1rem;
    color: #f6f4f4;
    background-color: #000;
    box-shadow: 5px 5px 20px var(--cinza);
    width: 30rem;
    height: 36rem;
    cursor: pointer;
}

.title-card-acessorios{
    margin-top: -5rem;
    justify-content: start;
    display: flex;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.subtitle-card-acessorios{
    display: flex;
    justify-content: start;
    margin-left: 2rem;
}

.subtitle-card-acessorios-1{
    display: flex;
    justify-content: start;
    margin-left: 2rem;
}

